@model TCC.PUC.SCA.Model.DBEntities.PlanoAcao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Cadastrar Novo Plano de Ação</h5>
<hr />
<form asp-action="Create">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Tipo" class="control-label"></label>
            <input asp-for="Tipo" class="form-control" />
            <span asp-validation-for="Tipo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="De" class="control-label"></label>
            <input asp-for="De" class="form-control" />
            <span asp-validation-for="De" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Ate" class="control-label"></label>
            <input asp-for="Ate" class="form-control" />
            <span asp-validation-for="Ate" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label asp-for="Mensagem" class="control-label"></label>
            <input asp-for="Mensagem" class="form-control" />
            <span asp-validation-for="Mensagem" class="text-danger"></span>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" value="Confirmar" class="btn btn-primary rounded float-right"><i class="fas fa-save"></i> Confirmar</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
