USE [master]
GO
/****** Object:  Database [TCC.PUC.SCA]    Script Date: 01/04/2020 17:22:59 ******/
CREATE DATABASE [TCC.PUC.SCA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TCC.PUC.SCA', FILENAME = N'/var/opt/mssql/data/TCC.PUC.SCA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TCC.PUC.SCA_log', FILENAME = N'/var/opt/mssql/data/TCC.PUC.SCA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TCC.PUC.SCA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TCC.PUC.SCA]
GO
USE [TCC.PUC.SCA]
GO
/****** Object:  Table [dbo].[Barragem]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barragem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](60) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Situacao] [bit] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_Barragem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SensorDadosId] [int] NOT NULL,
	[PlanoAcaoId] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlerta] [datetime] NULL,
 CONSTRAINT [PK_Incidente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarragemId] [int] NOT NULL,
	[Nome] [varchar](60) NOT NULL,
	[Situacao] [bit] NOT NULL,
	[Email] [varchar](60) NOT NULL,
	[Celular] [varchar](60) NOT NULL,
	[SMS] [varchar](60) NOT NULL,
	[Whatsapp] [varchar](60) NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanoAcao]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanoAcao](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[De] [int] NOT NULL,
	[Ate] [int] NOT NULL,
	[Mensagem] [varchar](150) NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_PlanoAcao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [nvarchar](50) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensor]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BarragemId] [int] NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[Situacao] [bit] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_Sensor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SensorDados]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorDados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SensorId] [int] NOT NULL,
	[Intensidade] [int] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
 CONSTRAINT [PK_SensorDados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/04/2020 17:22:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[NomeCompleto] [nvarchar](80) NOT NULL,
	[Email] [nvarchar](80) NULL,
	[NomeUsuario] [nvarchar](30) NOT NULL,
	[Senha] [nvarchar](30) NOT NULL,
	[Ativo] [bit] NOT NULL,
	[DataInclusao] [datetime] NOT NULL,
	[DataAlteracao] [datetime] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [FK_Incidente_PlanoAcao] FOREIGN KEY([PlanoAcaoId])
REFERENCES [dbo].[PlanoAcao] ([Id])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [FK_Incidente_PlanoAcao]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [FK_Incidente_SensorDados] FOREIGN KEY([SensorDadosId])
REFERENCES [dbo].[SensorDados] ([Id])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [FK_Incidente_SensorDados]
GO
ALTER TABLE [dbo].[Pessoa]  WITH CHECK ADD  CONSTRAINT [FK_Pessoa_Barragem] FOREIGN KEY([BarragemId])
REFERENCES [dbo].[Barragem] ([Id])
GO
ALTER TABLE [dbo].[Pessoa] CHECK CONSTRAINT [FK_Pessoa_Barragem]
GO
ALTER TABLE [dbo].[Sensor]  WITH CHECK ADD  CONSTRAINT [FK_Sensor_Barragem] FOREIGN KEY([BarragemId])
REFERENCES [dbo].[Barragem] ([Id])
GO
ALTER TABLE [dbo].[Sensor] CHECK CONSTRAINT [FK_Sensor_Barragem]
GO
ALTER TABLE [dbo].[SensorDados]  WITH CHECK ADD  CONSTRAINT [FK_SensorDados_Sensor] FOREIGN KEY([SensorId])
REFERENCES [dbo].[Sensor] ([Id])
GO
ALTER TABLE [dbo].[SensorDados] CHECK CONSTRAINT [FK_SensorDados_Sensor]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Role]
GO
USE [master]
GO
